<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aquaorb.aquaOrbManager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aqua Orb Manager</name>
    <description>
        Manage your aqua orb devices via bluetooth
    </description>
    <author email="jeremy.gooch@gmail.com" href="http://cordova.io">
        Jeremy Gooch
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-bluetooth-serial" spec="^0.4.7" />
    <plugin name="cordova-plugin-camera" spec="^4.0.2" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <allow-navigation href="*" />
    <preference name="fullscreen" value="true" />
    <icon src="www/assets/plant-icon.svg" />
    <platform name="android">
        <icon density="ldpi" src="www/assets/app-icon/drawable-ldpi/launcher-icon.png" />
        <icon density="mdpi" src="www/assets/app-icon/drawable-mdpi/launcher-icon.png" />
        <icon density="hdpi" src="www/assets/app-icon/drawable-hdpi/launcher-icon.png" />
        <icon density="xhdpi" src="www/assets/app-icon/drawable-xhdpi/launcher-icon.png" />
    </platform>
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.0.0" />
</widget>
