<div *ngIf="device">
    <div *ngIf="!deviceFetched" style="display: block; height: 100%; width: 100vh; position: absolute; top: 0; left: 0; background: rgba(255, 255, 255, 0.58);"></div>
    <h2>
        {{ device.name | uppercase }} Details
    </h2>
    <h3 *ngIf="noConnection">Could not connect to device</h3>
    <div class="device-image">
        <img *ngIf="device.imgPath==''" src="assets/aqua-orb-icon.png" class="placeholder">
        <img *ngIf="device.imgPath!=''" src="{{ device.imgPath }}">
    </div>
    <a (click)="openCamera()">Take new picture</a>
    <a (click)="testc()">Choose picture</a>
    <div><span>Bluetooth Address: </span>{{device.id}}</div>
    <div>
        <label>My Name Is:
            <input [(ngModel)]="device.name" name="deviceName" placeholder="name" required />
        </label>
    </div>

    <h3>Watering Information</h3>
    <form #wateringScheduleForm="ngForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Watering Info:</legend>
            <p>How often to Water:
                <select (change)="updateSchedule(0)" name="howOften" [(ngModel)]="sched.howOften">
                    <option *ngFor="let param of schedOpts.howOften" [value]="param">{{ param  | titlecase }}</option>
                </select>
            </p>
            <fieldset>
                <legend>Water Every: </legend>
                <p *ngIf="sched.howOften == 'monthly'">Month<span *ngIf="months != 1">s</span>:
                    <select name="months" [(ngModel)]="sched.months">
                        <option *ngFor="let param of schedOpts.months" [value]="param">{{ param }}</option>
                    </select>
                </p>
                <p *ngIf="sched.howOften == 'monthly' || sched.howOften == 'weekly'">Week<span *ngIf="sched.weeks != 1">s</span>:
                    <select name="weeks" [(ngModel)]="sched.weeks">
                        <option *ngFor="let param of schedOpts.weeks" [value]="param">{{ param }}</option>
                    </select>
                </p>
                <p *ngIf="sched.howOften == 'monthly' || sched.howOften == 'weekly' || sched.howOften == 'daily'">Day<span *ngIf="days != 1">s</span>:
                    <select name="days" [(ngModel)]="sched.days">
                        <option *ngFor="let param of schedOpts.days" [value]="param">{{ param }}</option>
                    </select>
                </p>
                <p *ngIf="sched.howOften == 'monthly' || sched.howOften == 'weekly' || sched.howOften =='daily' || sched.howOften =='hourly'">Hour<span *ngIf="hours != 1">s</span>:
                    <select name="hours" [(ngModel)]="sched.hours">
                        <option *ngFor="let param of schedOpts.hours" [value]="param">{{ param }}</option>
                    </select>
                </p>
                <p *ngIf="sched.howOften == 'monthly' || sched.howOften == 'weekly' || sched.howOften =='daily' || sched.howOften =='hourly' || sched.howOften =='minutes'">Minute<span *ngIf="minutes != 1">s</span>:
                    <select name="minutes" [(ngModel)]="sched.minutes">
                        <option *ngFor="let param of schedOpts.minutes" [value]="param">{{ param }}</option>
                    </select>
                </p>
                <p *ngIf="sched.howOften == 'monthly' || sched.howOften == 'weekly' || sched.howOften =='daily' || sched.howOften =='hourly' || sched.howOften =='minutes' || sched.howOften =='seconds'">Second<span *ngIf="seconds != 1">s</span>:
                    <select name="seconds" [(ngModel)]="sched.seconds">
                        <option *ngFor="let param of schedOpts.seconds" [value]="param">{{ param }}</option>
                    </select>
                </p>
            </fieldset>
            <p>Keep Watering For: </p>
            <fieldset>
                <p>Minute<span *ngIf="openMinutes != 1">s</span>:
                    <select name="openMinutes" [(ngModel)]="openSched.minutes">
                        <!-- <option *ngFor="let param of schedOpts.minutes" [value]="param">{{ param }}</option> -->
                        <option *ngFor="let param of (schedOpts.minutes ? schedOpts.minutes.slice(0,15): [])" [value]="param">{{ param }}</option>
                    </select>
                </p>
                <p>Second<span *ngIf="openSeconds != 1">s</span>:
                    <select name="openseconds" [(ngModel)]="openSched.seconds">
                        <option *ngFor="let param of schedOpts.seconds" [value]="param">{{ param }}</option>
                    </select>
                </p>
            </fieldset>

            <p>Open Angle: <input type="range" min="0" max="79" value="{{ device.servoOpen }}" class="slider" id="openAngle"></p>
            <p>Closed Angle: <input type="range" min="80" max="180" value="{{ device.servoClose }}" class="slider" id="closedAngle"></p>
        </fieldset>
        <button type="submit"  [disabled]="!wateringScheduleForm.form.valid">Save Settings"</button>
    </form>
    <button (click)="goBack()">go back</button>
</div>
