<div *ngIf="device">

    <h2>{{ device.name | uppercase }} Details</h2>
    <div class="device-image">
        <img *ngIf="device.imgPath==''" src="assets/aqua-orb-icon.png" class="placeholder">
    </div>
    <a (click)="openCamera()">Take new picture</a>
    <a (click)="testc()">Choose picture</a>
    <div><span>Bluetooth Address: </span>{{device.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="device.name" placeholder="name"/>
        </label>
    </div>
    <button (click)="goBack()">go back</button>
</div>
