<nav class="navigation">
    <section class="container">
        <div class="back-link" (click)="goBack()">
            <i class="fa fa-chevron-left"></i>
        </div>
        <!-- <button>Back</button> -->
        <h2>Connect To A Device</h2>
    </section>
</nav>

<ul class="found-devices">
    <li *ngFor="let foundDevice of foundDevices" class="fadeIn">
        <a [class.connecting]="foundDevice.address === connectingDevice"
           (click)="connectTo(foundDevice.address)" >
            <span class="badge">{{foundDevice.name}}</span>
            <small>MAC Address: {{foundDevice.address}}</small>
        </a>
    </li>
</ul>
<div *ngIf="noConnection == true">
    Enable your device's bluetooth to continue.
    <button (click)="establishConn()">Retry</button>
</div>

<div *ngIf="!foundDevices" class="loading">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
