/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */


/* Global overrides */
body { margin: 0; }
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #21ce99;
    border: 0.1rem solid #21ce99;
}
.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
    background-color: transparent;
    color: #21ce99;
}

a {
    color: #21ce99;
}

app-root > * > *:not(.loading), .fadeIn {
    animation-name: fadeIn;
    animation-delay: 0;
    animation-duration: 400ms;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 100;
  }
}


.navigation {
    background-color: #21ce99;
    color: #fbfbfb;
    width: 100%;
    height: 56px;
    margin-bottom: 1.5rem;
}

.navigation section {
    padding: 0.85rem 0;
}

.navigation h2 {
    text-align: center;
    font-size: 24px;
    display: inline-block;
    width: 100%;
    margin-left: -4rem;
    text-transform: uppercase;
    padding: 0 6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.navigation .back-link {
    position: relative;
    float: left;
    width: 4rem;
    text-align: center;
    height: 39px;
    margin-top: 0;
    padding-top: 5px;
}


.loading {
    position: absolute;
    display: inline-block;
    left: 50%;
    margin-left: -5rem;
    opacity: 0.5;
    margin-top: calc(50% - 56px);
}


h1 {
    font-size: 2rem;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
    border-color: #21ce99;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #21ce99;
    cursor: pointer;
    margin-top: -1.5rem; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: rgba(0,0,0,0.25);
  border-radius: 2px;
}

/* select { */
/*     background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#21ce99" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat; */
/*     padding-right: 3.0rem; */
/* } */
