.devices {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.devices {
    list-style: none;
}

.devices .orb-image {
    display: block;
    height: 115px;
    width: 115px;
    margin: 2rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.05);
    background-size: cover;
}


.addNewDevice {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.1);
    margin: 2rem;
}

.addNewDevice a {
    text-align: center;
    display: block;
    height: 105px;
    line-height: 106px;
    font-size: 8rem;
}

.devices .orb-name {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


img.placeholder {
    opacity: 0.25;
    width: 65%;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
}

.navigation h2 {
    margin-left: 0;
}
