<nav class="navigation">
    <section class="container">
        <h2>My Plants</h2>
    </section>
</nav>
<div class="clearfix">
    <div class="float-left"></div>
    <div class="float-right"></div>
</div>

<ul class="devices">
    <li *ngFor="let device of devices">
        <a routerLink="/detail/{{device.id}}" class="orb-image">
            <img *ngIf="device.imgPath==''" src="assets/plant-default.svg" class="placeholder">
        </a>
        <div class="orb-name">{{device.name}}</div>
    </li>
    <li class="addNewDevice">
        <a routerLink="/discover">+</a>
    </li>
</ul>


<!-- <button class="button button-outline" (click)="dumpdb()">Empty DB</button> -->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<button (click)="dumpdb()">Reset App</button>
